@charset "UTF-8";


*,
*:before,
*:after {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

iframe {
	max-width: 100%;
	height: auto;
	aspect-ratio: 16 / 9;
}


:root {
	--white: #fff;
	--black: #444;
	--light-gray: #ddd;
	--red: #de7575;
	--blue: #96b4cc;

	--youtube-red: #ff0000;
	--soundcloud-orange: #ff5500;

	--page-inner-width: 1200px;
	--page-padding-inline: 16px;

	--z-index-header: 100;
}

body {
	line-height: 1.6;
	font-family: sans-serif;
	color: var(--black);
	overflow-x: hidden;
}


.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.inner {
	width: calc(1200px + (var(--page-padding-inline) * 2));
	max-width: 100%;
	margin-inline: auto;
	padding-inline: var(--page-padding-inline);
}

.section + .section {
	margin-top: 64px;
}

.section > :first-child {
	margin-top: 0;
}

.section > :last-child {
	margin-bottom: 0;
}

@media (max-width: 480px) {
	.section + .section {
		margin-top: 48px;
	}
}

.site-header {
	position: sticky;
	top: 0;
	background-color: rgba(255, 255, 255, 0.6);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	z-index: var(--z-index-header);
}

.site-header__title {
	margin-block: 0px;
	padding-block: 16px;
	letter-spacing: 0.04em;
	line-height: 1.3;
	font-weight: 700;
	font-size: 32px;
}

.site-header__title > a {
	text-decoration: none;
	color: inherit;
}

.site-header__title > a:is(:hover, :focus) {
	text-decoration: underline;
}

@media (max-width: 480px) {
	.site-header__title {
		padding-block: 8px;
		font-size: 24px;
	}
}

.site-main {
	flex: 1 1 auto;
	padding-top: 32px;
	padding-bottom: 48px;
}

.site-main > :first-child {
	margin-top: 0;
}

.site-main > :last-child {
	margin-bottom: 0;
}

@media (max-width: 480px) {
	.site-main {
		padding-top: 24px;
		padding-bottom: 32px;
	}
}

.site-footer {
	flex: 0 0 auto;
}

.site-footer__logo {
	display: block;
	width: 240px;
	max-width: 100%;
	margin: 0 auto;
	padding-block: 16px;
	padding-inline: var(--page-padding-inline);
}

.footer-site-map {
	padding-block: 16px;
	padding-inline: var(--page-padding-inline);
	background-color: var(--black);
	color: var(--white);
}

.footer-site-map * {
	color: inherit;
}

.site-map {
	display: flex;
	flex-wrap: wrap;
	gap: 12px 32px;
	margin-block: 0;
	padding: 0;
	list-style: none;
}

.site-map__item a {
	text-decoration: none;
	font-size: 14px;
}

.site-map__item a:is(:hover, :focus) {
	text-decoration: underline;
}

.heading {
	letter-spacing: 0.02em;
	font-weight: 700;
}

.heading.heading--2 {
	margin-top: 0;
	margin-bottom: 20px;
}

@media (max-width: 480px) {
	.heading.heading--2 {
		margin-bottom: 16px;
	}
}

.lead-text {
	font-size: 24px;
}

.embed-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(278px, 1fr));
	gap: 32px;
	margin-block: 24px;
	margin-inline: 0;
	padding: 0;
	list-style: none;
}

@media (max-width: 480px) {
	.embed-list {
		margin-block: 16px;
	}
}


.link-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	gap: 32px;
	margin-block: 24px;
	margin-inline: 0;
	padding: 0;
	list-style: none;
}

.link-item {
	--border-color: var(--red);
	border-radius: 0 4px 4px 0;
	border-width: 0 0 0 4px;
	border-style: solid;
	border-color: transparent transparent transparent var(--border-color);
	background-color: var(--white);
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.05);
	transition: border-color 0.3s ease-out;
}

.link-item.link-item--music {
	--border-color: var(--red);
}

.link-item.link-item--social-media {
	--border-color: var(--blue);
}

.link-item a {
	display: flex;
	align-items: center;
	gap: 16px;
	width: 100%;
	padding: 8px 16px;
	text-decoration: none;
	font-size: 18px;
	color: inherit;
}

.link-item a span {
	letter-spacing: 0.02em;
}

.link-item a:is(:hover, :focus) span {
	text-decoration: underline;
}

@media (max-width: 480px) {
	.link-list {
		gap: 24px;
		margin-block: 16px;
	}
}

.m-plus-rounded-1c-bold {
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-weight: 700;
	font-style: normal;
}


:where(.simple-template) {
	h2 {
		margin-top: 48px;
		margin-bottom: 16px;
		font-weight: 700;
		font-size: 24px;
	}

	p {
		font-size: 16px;
	}
}

@media (max-width: 480px) {
	:where(.simple-template) {
		h2 {
			margin-top: 32px;
			margin-bottom: 12px;
			font-size: 20px;
		}

		p {
			font-size: 14px;
		}
	}
}

.link-wrapper {
	margin-block: 48px;
}

.link {
	letter-spacing: 0.03em;
	font-weight: 700;
	font-size: 18px;
	text-decoration: none;
	color: var(--black);
}

.link:is(:hover, :focus) {
	text-decoration: underline;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.music-list {
	display: grid;
	gap: 104px 32px;
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	margin-block: 24px;
	padding-block: 48px;
	padding-inline: 0;
	list-style: none;
}

.music {}

.music__link-wrapper {
	margin-top: 8px;
	margin-bottom: 0;
	text-align: right;
}
.music__link {
	display: block;
	text-decoration: none;
	color: inherit;
}

.music__link:is(:hover, :focus) {
	text-decoration: underline;
}

.music__link:is(:hover, :focus) .music__image {
	rotate: 8deg;
}

.music__image-wrapper {
	position: relative;
	margin: 0;
}

.music__image-wrapper::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 90%;
	height: 90%;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("../img/record.png");
	translate: -50% -50%;
	transition: top 0.3s ease-out, left 0.3s ease-out;
	z-index: -1;
}

.music__link:is(:hover, :focus) .music__image-wrapper::after {
	top: calc(50% - 90px);
	top: calc(50% - 32%);
	left: calc(50% + 12px);
	left: calc(50% + 4.3%);
	animation: record-spin 3s linear infinite;
}

@keyframes record-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}


.music__image {
	aspect-ratio: 1 / 1;
	object-fit: cover;
	object-position: center;
	transition: rotate 0.3s ease-out;
}

.music__title {
	margin-block: 0;
	line-height: 1.4;
	font-size: 18px;
}

.music__date {
	margin-block: 14px 6px;
	line-height: 1;
	font-size: 12px;
}

.breadcrumbs {
	display: flex;
	flex-wrap: wrap;
	gap: 2px 8px;
	margin-block: 16px;
	margin-inline: 0;
	padding: 0;
	list-style: none;
}

.breadcrumbs__item {}

.breadcrumbs__text {
	text-decoration: none;
	color: inherit;
}

.breadcrumbs__item:last-child .breadcrumbs__text {
}

a.breadcrumbs__text:is(:hover, :focus) {
	text-decoration: underline;
}

@media (max-width: 480px) {
	.breadcrumbs__item {
		font-size: 12px;
	}
}

.page-title {
	margin-block: 16px 32px;
	font-size: 32px;
}

@media (max-width: 480px) {
	.page-title {
		margin-block: 16px 24px;
		font-size: 24px;
	}
}

.credit-table {
	margin-block: 24px;
}

.credit-table :is(th, td) {
	padding-block: 2px;
	padding-inline: 4px;
	font-size: 16px;
}

.credit-table th {
	text-align: left;
}

.credit-table td {
	text-align: left;
}

.credit-table a {
	text-decoration: none;
	color: inherit;
}

.credit-table a:is(:hover, :focus) {
	text-decoration: underline;
}


@media (max-width: 480px) {
	.credit-table {
		margin-block: 16px;
	}

	.credit-table tr {
		display: flex;
		flex-direction: column;
	}

	.credit-table tr + tr {
		margin-top: 6px;
	}

	.credit-table :is(th, td) {
		padding-block: 2px;
		padding-inline: 2px;
		font-size: 14px;
	}

	.credit-table th {
		text-align: left;
	}
}

.lyrics {
	display: flex;
	flex-wrap: wrap;
	gap: 48px;
	margin-block: 48px;
}

.lyrics pre {
	flex: 1 1 auto;
	white-space: break-spaces;
	letter-spacing: 0.04em;
	line-height: 1.8;
	font-family: sans-serif;
	font-size: 16px;
}

@media (max-width: 480px) {
	.lyrics {
		gap: 24px;
		margin-block: 24px;
	}

	.lyrics pre {
		font-size: 14px;
	}
}

.music-link-list {
	display: flex;
	gap: 24px;
	margin-block: 48px;
	margin-inline: 0;
	padding: 0;
	list-style: none;
}

.music-link-list .fa-brands {
	font-size: 36px;
	transition: color 0.1s ease-out;
}

.music-link a:is(:hover, :focus) .fa-brands {
	color: var(--black);
}

.music-link a[href=""] {
	display: none;
}

.music-link-list .fa-youtube {
	color: var(--youtube-red);
}

.music-link-list .fa-soundcloud {
	color: var(--soundcloud-orange);
}

.cover-image {
	display: block;
	width: 480px;
	max-width: 100%;
	margin-block: 48px;
}
